body {
  margin: 0;
  padding: 0;
}
.App{
  position: relative;
  
  width: 100%;
  height: 100vh; 
  overflow: visible;
}
::-webkit-scrollbar{
  color: black;
}

::-webkit-scrollbar {
  width: 5px;
}


::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}


::-webkit-scrollbar-thumb {
  background: #0f0f0f;
  border-radius: 10px;
}