
  
  .about-me-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    z-index: -1;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  }
  .tools-and-langs-box-container{
    height: 50vh;
  }
  .langs-box{
    background-color: #1e1e1e; 
    padding: 20px;
    color: white;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(59, 184, 169, 0.1); 
    text-align: center;
    margin: auto;
    z-index: 10;
    height: 40vh;
    width: 40% ;
  }
  .img{
    size: 100px;
    display: flex;
    align-items: center; /* Align items vertically */
    justify-content: center; /* Center items horizontally */
    direction: rtl;
    padding: 5px;
  }
  .tools-box-container{
    height: 50vh;
  }
  .langs-box-container{
    height: 50vh;
  }
  .tools-and-langs-box-title{
    color: white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about-me-card {
    background-color: #1e1e1e; 
    padding: 20px;
    color: white;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(59, 184, 169, 0.1); 
    text-align: center;
    z-index: 10;
  }
  
  .about-me-card h1 {
    color: #61dafb; 
    z-index: 10;
  }
  

  @keyframes fadeIn {
    from {
      opacity: 0;
      
    }
    to {
      opacity: 1;
      z-index: 10;
    }
  }
  
  .about-me-card p {
    opacity: 0;
    animation: fadeIn 1s forwards;
  }


.Buttons{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.Button {
  align-items: center;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 20px;
  justify-content: center;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  transition: box-shadow .15s,transform .15s;
  will-change: box-shadow,transform;
  font-size: 18px;
}
.hidden-text{
  color: white;
  position: absolute;
  bottom: 5%;
}

.Button:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.Button:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.Button:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}