.login-form{
    text-align: center;
    display: flex;
    justify-content: center;
    position: relative;
    flex-direction: column;
    top: 2vh;
    color: #34495e; /* Dark blue-gray text color */
    padding: 20px;
    height: 40vh;
    border: 5px solid #2c3e50; /* Dark blue-gray border */
    border-radius: 20px;
    background-color: #ecf0f1; 
}

.login-input-box{
    padding: 20px;
    background-color: #bdc3c7; 
    border-radius: 10px;
    margin-bottom: 20px;
}

.submit-btn{
    display: block;
    width: 100%;
    padding: 10px;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.submit-btn:hover{
    background-color: #4565a0;
}

