.weather-main{
    background-color: #B6D0E2;
    height: 90vh;
}
.weather-ui{
    text-align: center;
    justify-content: center;
    align-items: center;
}
.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #3498db;
    border-radius: 5px;
    color: #fff;
    background-color: #3498db;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .btn:hover {
    background-color: #2980b9;
    color: #fff;
  }
  
  .btn:active {
    background-color: #1f618d;
    color: #fff;
  }

.text-input {
    width: 30%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #3498db;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
    text-align: center;
}

.text-input:focus {
    border-color: #2980b9;
}


.text-input::placeholder {
    color: #95a5a6;
}
.main{

    text-align: center;
    margin: auto;
}